<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Success Student Management System</title >
</head >
<body >


<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="row bg-light" >
  <div class="col-4" >
  </div >
  <div class="col-4" >
    <h1 >Add a new Student</h1 >
  </div >
  <div class="col-4" >
    <a href="/student" >
      <button class="btn btn-primary" >View all Students</button >
    </a >
  </div >
</div >
<div class="container" >
  <form action="/student/save" data-th-object="${student}" method="post" >
    <!--index-->
    <div class="form-group" data-th-if="${addStatus==false}" >
      <label class="col-6 control-label" data-th-for="${id}" >Index</label >
      <div class="col-6" >
        <input type="text" readonly data-th-field="*{id}" id="id" placeholder="IndeX" class="form-control" autofocus >
      </div >
    </div >
    <!--registrationId-->
    <div class="form-group" data-th-if="${addStatus==false}" >
      <label class="col-6 control-label" data-th-for="${regNo}" >Registration ID</label >
      <div class="col-6" >
        <input type="text" id="regNo" class="form-control" data-th-field="*{regNo}" >
        <input type="text" class="form-control" data-th-field="*{liveDead}" hidden >
      </div >
    </div >
    <div class="row">
      <div class="col-6">
        <!--firstName-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${firstName}" >First name</label >
          <div class="col-6" >
            <input type="text" id="firstName" class="form-control" data-th-field="*{firstName}" >
          </div >
        </div >

      </div>
      <div class="col-6">
        <!--lastName-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${lastName}" >Last name</label >
          <div class="col-6" >
            <input type="text" id="lastName" class="form-control" data-th-field="*{lastName}" >
          </div >
        </div >
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!--Gender-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${'gender'}" >Gender :</label >
          <div class="col-6" >
            <div class="custom-control custom-checkbox custom-control-inline "
                 data-th-each="genders,index : ${gender}" >
              <input class="custom-control-input gender" required
                     data-th-name="${'gender'}"
                     data-th-value="${genders}"
                     data-th-id="${index.index}+${genders}" type="radio"
                     data-th-checked="${genders==student.gender}" />
              <label class="custom-control-label"
                     data-th-for="${index.index}+${genders}"
                     data-th-text="${genders.gender}" > radio
              </label >
            </div >
          </div >
        </div >

      </div>
      <div class="col-6">
        <!--dateOfBirth-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${dob}" >Date of birth</label >
          <div class="col-6" >
            <input type="date" id="dob" class="form-control" data-th-field="*{dob}" >
          </div >
        </div >
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!--address-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${address}" >Address</label >
          <div class="col-6" >
            <textarea id="address" class="form-control" data-th-field="*{address}" ></textarea >
          </div >
        </div >

      </div>
      <div class="col-6">
        <!--city-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${city}" >City</label >
          <div class="col-6" >
            <input type="text" id="city" class="form-control" data-th-field="*{city}" >
          </div >
        </div >
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!--grade-->
        <div class="form-group" >
          <label class="col-sm-1 control-label" data-th-for="${'grade'}" >Grade</label >
          <div class="col-sm-5" >
            <select id="grade" class="form-control" data-th-field="*{grade}" required >
              <option value="" >Select the Grade</option >
              <option data-th-each="grade : ${grades}"
                      data-th-text="${grade.grade}"
                      data-th-value="${grade}" ></option >
            </select >
          </div >
        </div >
      </div>
      <div class="col-6"></div>
    </div>
    <!--school-->
    <div class="form-group" >
      <label class="col-6 control-label" >School</label >
      <div class="col-6" >
        <select id="school" class="form-control" data-th-field="*{school}" >
          <option value="" selected disabled >Please select</option >
          <option data-th-each="school : ${schools}"
                  data-th-text="${school.name}"
                  data-th-value="${school.id}" >
          </option >
        </select >
      </div >
    </div >
    <div class="row">
      <div class="col-6">
        <!--mobileNumber-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${mobile}" >Mobile number</label >
          <div class="col-6" >
            <input type="tel" id="mobile" class="form-control" data-th-field="*{mobile}" >
          </div >
        </div >
      </div>
      <div class="col-6">
        <!--fixedNumber-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${home}" >Fixed number</label >
          <div class="col-6" >
            <input type="tel" id="home" class="form-control" data-th-field="*{home}" >
          </div >
        </div >
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <!--guardian-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${guardian}" >Guardian's name</label >
          <div class="col-6" >
            <input type="text" id="guardian" class="form-control" data-th-field="*{guardian}" >
          </div >
        </div >
      </div>
      <div class="col-6">
        <!--available Batches-->
        <div class="form-group" >
          <label class="col-6 control-label" data-th-for="${'batches'}" >Available Batches</label >
          <div class="col-6" >
            <select id="batches" class="form-control" >
              <option value="" >Choose</option >

            </select >
          </div >
        </div >
      </div>
    </div>
    <div class="form-row mt-4 text-center" >
      <!--Selected Batch-->
      <div class="container-fluid" >
        <table class="table table-striped table-inverse" id="selectedBatchInTable" >
          <legend ><strong > <i >Selected Batches Count: </i ><span id="selectedCount" ></span > </strong ></legend >
          <thead class="thead-inverse" >
          <tr >
            <th >Batch Name</th >
            <th >Active or Inactive</th >
            <th >Modify</th >
          </tr >
          </thead >
          <tbody >
          <tr data-th-each="batchStudent, index : ${student.batchStudents}" >
            <td >
              <strong >
                <span class="control-label" data-th-id="${'tx'+index.index}"
                      data-th-text="${batchStudent.batch.name}" ></span >
              </strong >
              <input type="hidden" data-th-id="${'tx'+index.index}" data-th-value="${batchStudent.batch.id}"
                     data-th-name="${'batchStudents[__${index.index}__].batch.id'}" >
              <input type="hidden" data-th-value="${batchStudent.id}"
                     data-th-name="${'batchStudents[__${index.index}__].id'}" >
              <input type="hidden" data-th-value="${batchStudent.student.id}"
                     data-th-name="${'batchStudents[__${index.index}__].student.id'}" >
            </td >
            <td >
              <!--Radio button-->
              <div class="col" >
                <div class="custom-control custom-checkbox custom-control-inline "
                     data-th-each="liveDead : ${liveDeads}" >
                  <input class="custom-control-input" required
                         data-th-name="${'batchStudents[__${index.index}__].liveDead'}"
                         data-th-value="${liveDead}"
                         data-th-id="${index.index}+${liveDead}" type="radio"
                         data-th-checked="${liveDead==batchStudent.liveDead}" />
                  <label class="custom-control-label"
                         data-th-for="${index.index}+${liveDead}"
                         data-th-text="${liveDead.liveDead}" > radio
                  </label >
                </div >
              </div >
            </td >
            <td >
              <button type="button" data-th-id="${'rm'+index.index}" class="btn btn-outline-danger"
                      onclick="tableRowRemove(this)" >Remove
              </button >
            </td >
          </tr >
          </tbody >
        </table >
      </div >

    </div >
    <div class="row container" >
      <div class="col-4" >
        <button type="link" class="btn btn-danger btn-block" >Back</button >
      </div >

      <div class="col-4" >
        <button type="reset" class="btn btn-warning btn-block" >Clear Data</button >
      </div >

      <div class="col-4" >
        <button type="submit" class="btn btn-success btn-block" >Submit</button >
      </div >
    </div >
  </form >

  <!-- /form -->
  <input type="hidden" id="batchUrl" data-th-value="${batchUrl}" >
</div >
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >

    $("#grade").change(function () {
        let url = $("#batchUrl").val() + $(this).val();
        let studentId = $("#id").val();
        if (!studentId) {
            url = $("#batchUrl").val() + $(this).val() + "/" + studentId;
        }

        $.ajax({
            type: 'GET',
            url: url,
            success: function (resp) {
                for (let i = 0; i < resp.length; i++) {
                    $("#batches").append(new Option(resp[i].name, resp[i].id));
                }
            },
            error: function (err) {
                console.log(err);
                swal({
                    title: "There is no more batches match with this grade",
                    icon: "warning",
                });
            }
        });
    })

    //add new item and price
    $("#batches").bind('change', function () {
        let valueA = optionElementRemove("#batches");
        tableRowAdd(valueA);
    });
    //table row remove
    let tableRowRemove = function (obj) {
        let itemIndex = obj.parentNode.parentNode.rowIndex;
        let id = obj.id.slice(2);
        console.log("id  " + id);
        let removeItemText = $(`#tx${id}`).html();
        let removeItemValue = $(`#vl${id}`).val();

        console.log(removeItemText + " value   " + removeItemValue)
        $("#batches").append(new Option(removeItemText, removeItemValue));
        let removeRow = `#selectedBatchInTable tr:eq(${itemIndex})`
        $(removeRow).remove();

        selectedBatch();
    }
    //option tag remove
    let optionElementRemove = function (id) {
        let selectedValue = $(id).val();
        let selectedItemId = `${id} option[value='${selectedValue}']`;
        let selectedValueInnerHTML = $(selectedItemId).html();
        $(selectedItemId).remove();
        return {name: selectedValueInnerHTML, value: selectedValue};
    }
    //table row add
    let tableRowAdd = function (value) {
        let rows = $("#selectedBatchInTable tr").length;
        let rowCount = rows - 1;

        let html = `<tr>
                        <td>
                            <span id="tx${rowCount}">${value.name}</span>
                            <input id="vl${rowCount}" type="hidden" name="batchStudents[${rowCount}].batch.id" value="${value.value}">
                        </td>
                        <td>
  <div class="custom-control custom-checkbox custom-control-inline " >
    <input class="custom-control-input" required   id="${rowCount}+ACTIVE"        name="batchStudents[${rowCount}].liveDead"           value="ACTIVE" type="radio"/>
    <label class="custom-control-label"           for="${rowCount}+ACTIVE">Active    </label >
</div>
  <div class="custom-control custom-checkbox custom-control-inline " >
      <input class="custom-control-input" required id="${rowCount}+STOP"           name="batchStudents[${rowCount}].liveDead"           value="STOP" type="radio"/>
    <label class="custom-control-label"           for="${rowCount}+STOP">Deactive    </label >
  </div >
                        </td>

                        <td>
                            <button type="button" id="rm${rowCount}" class="btn btn-outline-danger" onclick="tableRowRemove(this)">Remove</button>
                        </td>
                    </tr>`;

        $("#selectedBatchInTable tr:last").after(html);
        selectedBatch();

    }

    $(document).ready(function () {
        selectedBatch();
    });

    function selectedBatch() {
        $("#selectedCount").html($("#selectedBatchInTable tr").length - 1);
    }
</script >
</body >
</html >
