<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-secondary">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h1>Student Management - Add New Student</h1>
    </div>
    <div class="col-4">
        <a href="/student">
            <button class="btn btn-primary">All Students</button>
        </a>
    </div>
</div>
<div class="container-fluid">
    <form action="/student/save" data-th-object="${student}" method="post">
        <!--student id-->
        <div class="form-row text-right" data-th-if="${addStatus==false}">
            <div class="col-md-4">
                <label data-th-for="${id}">Id</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{id}" readonly type="text">
            </div>
        </div>
        <!--registration number-->
        <div class="form-row text-right" data-th-if="${addStatus==false}" >
            <div class="col-md-4">
                <label class="control-label" data-th-for="${regNo}">Registration ID :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{regNo}" required tabindex="4" type="text" readonly/>
                <span data-th-errors="*{regNo}"
                      data-th-if="${#fields.hasErrors('regNo')}">Error Name</span>
            </div>
        </div>
        <!--First Name-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${firstName}">First Name :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{firstName}" required tabindex="4" type="text"/>
                <span data-th-errors="*{firstName}"
                      data-th-if="${#fields.hasErrors('firstName')}">Error Name</span>
            </div>
        </div>
        <!--Last Name-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${lastName}">Last Name :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{lastName}" required tabindex="4" type="text"/>
                <span data-th-errors="*{lastName}"
                      data-th-if="${#fields.hasErrors('lastName')}">Error Name</span>
            </div>
        </div>
        <!--Gender-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" for="gender">Gender :</label>
            </div>
            <div class="col-md-8">
                <select class="form-control" data-th-field="*{gender}" id="gender" required tabindex="7">
                    <option value="">Please select</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                </select>
            </div>
        </div>
        <!--Date of birth-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" for="dob">Birth date :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{dob}" id="dateOfBirth"
                       placeholder="Enter Your B'day"
                       required
                       tabindex="8" type="date"/>
                <span class="error" data-th-errors="*{dob}"
                      data-th-if="${#fields.hasErrors('dob')}" id="dateOfBirthError">Error Birthday</span>
            </div>
        </div>
        <!--School-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${school}">School :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{school}" required tabindex="4" type="text"/>
                <span data-th-errors="*{school}"
                      data-th-if="${#fields.hasErrors('school')}">Error Name</span>
            </div>
        </div>
        <!--Address-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" for="address">Address :</label>
            </div>
            <div class="col-md-8">
                <textarea class="form-control" data-th-field="*{address}" id="address" required
                          tabindex="12"></textarea>
                <span class="error" data-th-errors="*{address}"
                      data-th-if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>
            </div>
        </div>

        <!--city-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${city}">city :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{city}" required tabindex="4" type="text"/>
                <span data-th-errors="*{city}"
                      data-th-if="${#fields.hasErrors('city')}">Error Name</span>
            </div>
        </div>
        <!--Mobile Number One-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${mobile}">Mobile One No :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control mobile" data-th-field="*{mobile}" maxlength="10" min="9"
                       required tabindex="13"
                       type="text"/>
                <span class="error" data-th-errors="*{mobile}"
                      data-th-if="${#fields.hasErrors('mobile')}">Error Mobile Number</span>
            </div>
        </div>
        <!--Fixed LAN-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${home}">Fixed Number :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control mobile" data-th-field="*{home}" maxlength="10" min="9"
                       required tabindex="13"
                       type="text"/>
                <span class="error" data-th-errors="*{home}"
                      data-th-if="${#fields.hasErrors('home')}">Error Fixed Number</span>
            </div>
        </div>

        <!--Guardian-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${guardian}">Guardian :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{guardian}" required tabindex="4" type="text"/>
                <span data-th-errors="*{guardian}"
                      data-th-if="${#fields.hasErrors('guardian')}">Error Name</span>
            </div>
        </div>

        <!--Button-->
        <div class="form-batch col-md-12 col-sm-12 text-center flex-column ">
            <button class="btn btn-success" tabindex="21" type="submit">
                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}"
                    id="submit"></span>
            </button>
        </div>
    </form>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>