<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--&lt;!&ndash;Styles, meta data, and title are included&ndash;&gt;-->
<!--<head data-th-replace="~{fragments/header :: headerFragment}">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Success Student Management</title>-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash;Nav bar is included&ndash;&gt;-->
<!--<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>-->

<!--<div class="row bg-secondary">-->
<!--    <div class="col-4">-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--        <h1>Student Management - Add New Student</h1>-->
<!--    </div>-->
<!--    <div class="col-4">-->
<!--        <a href="/student">-->
<!--            <button class="btn btn-primary">All Students</button>-->
<!--        </a>-->
<!--    </div>-->
<!--</div>-->
<!--<div class="container-fluid">-->
<!--    <form action="/student/save" data-th-object="${student}" method="post">-->
<!--        &lt;!&ndash;student id&ndash;&gt;-->
<!--        <div class="form-row text-right" data-th-if="${addStatus==false}">-->
<!--            <div class="col-md-4">-->
<!--                <label data-th-for="${id}">Id</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{id}" readonly type="text">-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;registration number&ndash;&gt;-->


<!--        <div class="form-row text-right" data-th-if="${addStatus==false}">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${'regNo'}">Registration ID :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{regNo}" required tabindex="4" type="text" readonly/>-->
<!--                <span data-th-errors="*{regNo}"-->
<!--                      data-th-if="${#fields.hasErrors('regNo')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;First Name&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${firstName}">First Name :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{firstName}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{firstName}"-->
<!--                      data-th-if="${#fields.hasErrors('firstName')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Last Name&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${lastName}">Last Name :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{lastName}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{lastName}"-->
<!--                      data-th-if="${#fields.hasErrors('lastName')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Gender&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" for="gender">Gender :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <select class="form-control" data-th-field="*{gender}" id="gender" required tabindex="7">-->
<!--                    <option value="">Please select</option>-->
<!--                    <option value="Male">Male</option>-->
<!--                    <option value="Female">Female</option>-->
<!--                </select>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Date of birth&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" for="dob">Birth date :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{dob}" id="dateOfBirth"-->
<!--                       placeholder="Enter Your B'day"-->
<!--                       required-->
<!--                       tabindex="8" type="date"/>-->
<!--                <span class="error" data-th-errors="*{dob}"-->
<!--                      data-th-if="${#fields.hasErrors('dob')}" id="dateOfBirthError">Error Birthday</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;School&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${school}">School :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{school}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{school}"-->
<!--                      data-th-if="${#fields.hasErrors('school')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Address&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" for="address">Address :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <textarea class="form-control" data-th-field="*{address}" id="address" required-->
<!--                          tabindex="12"></textarea>-->
<!--                <span class="error" data-th-errors="*{address}"-->
<!--                      data-th-if="${#fields.hasErrors('address')}" id="addressError">Error Address</span>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;city&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${city}">city :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{city}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{city}"-->
<!--                      data-th-if="${#fields.hasErrors('city')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Mobile Number One&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${mobile}">Mobile One No :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control mobile" data-th-field="*{mobile}" maxlength="10" min="9"-->
<!--                       required tabindex="13"-->
<!--                       type="text"/>-->
<!--                <span class="error" data-th-errors="*{mobile}"-->
<!--                      data-th-if="${#fields.hasErrors('mobile')}">Error Mobile Number</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;Fixed LAN&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${home}">Fixed Number :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control mobile" data-th-field="*{home}" maxlength="10" min="9"-->
<!--                       required tabindex="13"-->
<!--                       type="text"/>-->
<!--                <span class="error" data-th-errors="*{home}"-->
<!--                      data-th-if="${#fields.hasErrors('home')}">Error Fixed Number</span>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;Guardian&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${guardian}">Guardian :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{guardian}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{guardian}"-->
<!--                      data-th-if="${#fields.hasErrors('guardian')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;Button&ndash;&gt;-->
<!--        <div class="form-batch col-md-12 col-sm-12 text-center flex-column ">-->
<!--            <button class="btn btn-success" tabindex="21" type="submit">-->
<!--                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span-->
<!--                    data-th-text="${addStatus==true?'Save': 'Update'}"-->
<!--                    id="submit"></span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->
<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management System</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-light">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h1>Add a new studet</h1>
    </div>
    <div class="col-4">
        <a href="/student">
            <button class="btn btn-primary">View all Students</button>
        </a>
    </div>
</div>
<div class="container">
    <form action="/student/save" data-th-object="${student}" method="post">
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label" data-th-for="${id}">Index</label>-->
<!--            <div class="col-sm-9">-->
<!--                <input type="text" readonly data-th-field="*{id}" id="id" placeholder="IndeX" class="form-control" autofocus>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${regNo}">Registration ID</label>
            <div class="col-sm-5">
                <input type="text" id="regNo" class="form-control" data-th-field="*{regNo}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${firstName}">First name</label>
            <div class="col-sm-4">
                <input type="text" id="firstName" class="form-control" data-th-field="*{firstName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${lastName}">Last name</label>
            <div class="col-sm-4">
                <input type="text" id="lastName" class="form-control" data-th-field="*{lastName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-9">
                <select id="gender" class="form-control" data-th-field="*{gender}" >
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${dob}">Date of birth</label>
            <div class="col-sm-4">
                <input type="date" id="dob" class="form-control" data-th-field="*{dob}">
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${address}">Address</label>
            <div class="col-sm-4">
                <textarea id="address" class="form-control" data-th-field="*{address}"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${city}">City</label>
            <div class="col-sm-4">
                <input type="text" id="city" class="form-control" data-th-field="*{city}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">School</label>
            <div class="col-sm-9">
                <select id="school" class="form-control" data-th-field="*{school}" >
                    <option value="D.S">D.S</option>
                    <option value="Ananda">Ananada</option>
                    <option value="Nalanda">Nalanda</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${mobile}">Mobile number</label>
            <div class="col-sm-4">
                <input type="tel" id="mobile" class="form-control" data-th-field="*{mobile}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${home}">Fixed number</label>
            <div class="col-sm-4">
                <input type="tel" id="home" class="form-control" data-th-field="*{home}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${guardian}">Guardian's name</label>
            <div class="col-sm-4">
                <input type="text" id="guardian" class="form-control" data-th-field="*{guardian}">
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-sm-2 col-sm-offset-2">
                <button type="link" class="btn btn-danger btn-block">Back</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="reset" class="btn btn-warning btn-block">Clear Data</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </div>
        </div>
    </form> <!-- /form -->
</div>
</body>
</html>
<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>