<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>
        Success Student Management system
    </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-link">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1>Details of Student</h1>
    </div>
    <div class="col-4">
        <a href="/student/add">
            <button class="btn btn-primary" align="center">Add new Student</button>
        </a>
    </div>
</div>
<!--Student detail-->
<div class="row" data-th-fragment="studentDetailsFragment">
    <div class="col-6" style="background-color:palegreen;">
        <div class="form-group">
            <label data-th-for="${id}" class="col-sm-3 control-label">Index</label>
            <div class="col-sm-6">
                <p type="text" id="id" class="form-control"   data-th-text="${studentDetail.id}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${firstName}" class="col-sm-3 control-label">First name</label>
            <div class="col-sm-6">
                <p type="text" id="firstName" class="form-control"   data-th-text="${studentDetail.firstName}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${gender}" class="col-sm-3 control-label">Gender</label>
            <div class="col-sm-6">
                <p type="text" id="gender" class="form-control"   data-th-text="${studentDetail.gender}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${address}" class="col-sm-3 control-label">Address</label>
            <div class="col-sm-6">
                <p type="text" id="address" class="form-control"   data-th-text="${studentDetail.address}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${school}" class="col-sm-3 control-label">School</label>
            <div class="col-sm-6">
                <p type="text" id="school" class="form-control"   data-th-text="${studentDetail.school.name}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${home}" class="col-sm-3 control-label">Fixed number</label>
            <div class="col-sm-6">
                <p type="text" id="home" class="form-control"   data-th-text="${studentDetail.home}">
            </div>
        </div>
    </div>
    <div class="col-6" style="background-color:palegreen;">
        <div class="form-group">
            <label data-th-for="${regNo}" class="col-sm-3 control-label">Registration Number</label>
            <div class="col-sm-6">
                <p type="text" id="regNo" class="form-control"   data-th-text="${studentDetail.regNo}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${lastName}" class="col-sm-3 control-label">Last name</label>
            <div class="col-sm-6">
                <p type="text" id="lastName" class="form-control"   data-th-text="${studentDetail.lastName}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${dob}" class="col-sm-3 control-label">Date of Birth</label>
            <div class="col-sm-6">
                <p type="text" id="dob" class="form-control"   data-th-text="${studentDetail.dob}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${city}" class="col-sm-3 control-label">City</label>
            <div class="col-sm-6">
                <p type="text" id="city" class="form-control"   data-th-text="${studentDetail.city}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${mobile}" class="col-sm-3 control-label">Mobile number</label>
            <div class="col-sm-6">
                <p type="text" id="mobile" class="form-control"   data-th-text="${studentDetail.mobile}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${guardian}" class="col-sm-3 control-label">Guardian</label>
            <div class="col-sm-6">
                <p type="text" id="guardian" class="form-control"   data-th-text="${studentDetail.guardian}">
            </div>
        </div>
    </div>
    </br><br>
    <div class="row container-fluid" >
        <div class="col-sm-4 col-sm-offset-2 align-middle" >
            <a href="/student" >
                <button type="button" class="btn btn-danger btn-block" >Back</button >
            </a >
        </div >
    </div >

</div>
<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
