<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Student Management</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-secondary">
    <div class="col-4">
        <a href="/student/new">
            <button class="btn btn-info">New Student</button>
        </a>
    </div>
    <div class="col-4">
        <h1>Student Management - Student Detail</h1>
    </div>
    <div class="col-4">
        <a href="/student">
            <button class="btn btn-primary">View All Student</button>
        </a>
    </div>
</div>
<!--Student detail-->
<div class="container-fluid" data-th-fragment="studentDetail">
    <!--student id-->
    <div class="form-group">
        <label data-th-for="${id}">Id</label>
        <p class="form-control" data-th-text="${studentDetail.id}"></p>
    </div>
    <!--registration number-->
    <div class="form-group">
        <label data-th-for="${registrationId}"></label>
        <p class="form-control" data-th-text="${studentDetail.registrationId}"></p>
    </div>
    <!--First Name-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${firstName}">First Name :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${studentDetail.firstName}"></p>
        </div>
    </div>
    <!--Last Name-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${lastName}">First Name :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${studentDetail.lastName}"></p>
        </div>
    </div>
    <!--Gender-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label">Gender :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${studentDetail.gender}"></p>
        </div>
    </div>
    <!--Date of birth-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label">Birth date :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${studentDetail.dateOfBirth}"></p>
        </div>
    </div>

    <!--Address-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label">Address :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-utext="${studentDetail.address}"></p>
        </div>
    </div>
    <!--School-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label">School :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${studentDetail.school}"></p>
        </div>
    </div>

    <!--Guardian-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${guardian}">Guardian :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${studentDetail.guardian}"></p>
        </div>
    </div>

    <!--Mobile Number One-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${mobile}">Mobile No :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control mobile" data-th-text="${studentDetail.mobile}"></p>
        </div>
    </div>

    <!--fixed Number One-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${fixed}">fixed No :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control mobile" data-th-text="${studentDetail.fixed}"></p>
        </div>
    </div>

</div>
<!--Button-->
<div class="form-group col-md-12 col-sm-12 text-center flex-column ">
    <a href="/student">
        <button class="btn btn-success" tabindex="21" type="submit">
            Back
        </button>
    </a>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>