<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-light">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h1>Create a Discount</h1>
    </div>
    <div class="col-4">
        <a href="/discount">
            <button class="btn btn-primary">View all Discounts</button>
        </a>
    </div>
</div>
<!--<div class="container-fluid">-->
<!--    <form action="/discount/save" data-th-object="${discount}" method="post">-->
<!--        &lt;!&ndash;discount id&ndash;&gt;-->
<!--        <div class="form-row text-right" data-th-if="${addStatus==false}">-->
<!--            <div class="col-md-4">-->
<!--                <label data-th-for="${id}">Id</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <label>-->
<!--                    <input class="form-control" data-th-field="*{id}" readonly type="text">-->
<!--                </label>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash; discountName&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${discountName}">Discount Name :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <label>-->
<!--                    <input class="form-control" data-th-field="*{discountName}" required tabindex="4" type="text"/>-->
<!--                </label>-->
<!--                <span data-th-errors="*{discountName}"-->
<!--                      data-th-if="${#fields.hasErrors('discountName')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;discountType&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${discountType}">discount Type :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{discountType}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{discountType}"-->
<!--                      data-th-if="${#fields.hasErrors('discountType')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;discountAmount&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${discountAmount}">discount Amount :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{discountAmount}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{discountAmount}"-->
<!--                      data-th-if="${#fields.hasErrors('discountAmount')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;approvedBy&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${approvedBy}">approved By :</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{approvedBy}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{approvedBy}"-->
<!--                      data-th-if="${#fields.hasErrors('approvedBy')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;discountStatus&ndash;&gt;-->
<!--        <div class="form-row text-right">-->
<!--            <div class="col-md-4">-->
<!--                <label class="control-label" data-th-for="${discountStatus}">discount Status</label>-->
<!--            </div>-->
<!--            <div class="col-md-8">-->
<!--                <input class="form-control" data-th-field="*{discountStatus}" required tabindex="4" type="text"/>-->
<!--                <span data-th-errors="*{discountStatus}"-->
<!--                      data-th-if="${#fields.hasErrors('discountStatus')}">Error Name</span>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash;Button&ndash;&gt;-->
<!--        <div class="form-discount col-md-12 col-sm-12 text-center flex-column ">-->
<!--            <button class="btn btn-success" tabindex="21" type="submit">-->
<!--                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span-->
<!--                    data-th-text="${addStatus==true?'Save': 'Update'}"-->
<!--                    id="submit"></span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </form>-->
<!--</div>-->

<div class="container">
    <form action="/discount/save" data-th-object="${discount}" method="post">
        <div class="form-group">
            <label class="col-sm-3 control-label" data-th-for="${id}">Discount Code</label>
            <div class="col-sm-9">
                <input type="text" data-th-field="*{id}" id="id" placeholder="Discount code" class="form-control" autofocus>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${discountType}">Discount type</label>
            <div class="col-sm-5">
                <select id="discountType" class="form-control" data-th-field="*{discountType}">
                    <option value="byTeacher">Teacher Referred</option>
                    <option value="byClass">Academic Referred</option>
                    <option value="byPromotion">Special Promotion</option>
                    <option value="firstMonth">First month Free</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${discountAmount}">Amount</label>
            <div class="col-sm-5">
               <input type="text" id="discountAmount" class="form-control" data-th-field="*{discountAmount}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${approvedBy}">Approved by</label>
            <div class="col-sm-4">
                <input type="text" id="approvedBy" class="form-control" data-th-field="*{approvedBy}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-3 control-label">Discount Status</label>
            <div class="col-sm-9">
                <select id="discountStatus" class="form-control" data-th-field="*{discountStatus}" >
                    <option value="available">Available</option>
                    <option value="expired">Expired</option>
                    <option value="suspended">Temporarly Suspended</option>
                </select>
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-sm-2 col-sm-offset-2">
                <button type="link" class="btn btn-danger btn-block">Back</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="reset" class="btn btn-warning btn-block">Clear Data</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </div>
        </div>
    </form> <!-- /form -->
</div>
</body>
</html>