

<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management System</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-link">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1>Subject Details</h1>
    </div>
    <div class="col-4">
        <a href="/subject/add">
            <button class="btn btn-primary" align="center">Add new Subject</button>
        </a>
    </div>
</div>
<!--Discount detail-->
<div class=" row container-fluid" data-th-fragment="subjectDetail">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <div class="form-group">
            <label data-th-for="${id}" class="col-sm-3 control-label">Index</label>
            <div class="col-sm-6">
                <p type="text" id="id" class="form-control"   data-th-text="${subjectDetail.id}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${name}" class="col-sm-3 control-label">Subject name</label>
            <div class="col-sm-6">
                <p type="text" id="name" class="form-control"   data-th-text="${subjectDetail.name}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${code}" class="col-sm-3 control-label">Subject code</label>
            <div class="col-sm-6">
                <p type="text" id="code" class="form-control"   data-th-text="${subjectDetail.code}">
            </div>
        </div>
        <div class="row container-fluid">
            <div class="col-sm-2 col-sm-offset-2">
                <a href="/subject">
                    <button type="link"  class="btn btn-danger btn-block" >Back</button>
                </a>
            </div>

        </div>
    </div>
    <div class="col-sm-1"></div>
</div>
<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
