<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<nav class="navbar navbar-expand-sm bg-primary">
    <div class="col-4"></div>
    <div class="col-4">
        <h1><span class="navbar-text">Subject Details</span></h1>
    </div>
    <div class="col-4">
        <a href="/subject">
            <button class="btn btn-primary">All Subject</button>
        </a>
    </div>
</nav>
<!--Subject detail-->
<div class="container" data-th-fragment="subjectDetail">
    <!--subject id-->
    <div class="form-row text-right">
        <div class="col-3">
            <label class="control-label" data-th-for="${id}">ID</label>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <p class="form-control" data-th-text="${subjectDetail.id}"></p>
        </div>
        <div class="col-4"></div>
    </div>

    <!--code-->
    <div class="form-row text-right">
        <div class="col-3">
            <label class="control-label" data-th-for="${code}">Code</label>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <p class="form-control" data-th-text="${subjectDetail.code}"></p>
        </div>
        <div class="col-4"></div>
    </div>

    <!--Name-->
    <div class="form-row text-right">
        <div class="col-3">
            <label class="control-label" data-th-for="${name}">Name</label>
        </div>
        <div class="col-1"></div>
        <div class="col-4">
            <p class="form-control" data-th-text="${subjectDetail.name}"></p>
        </div>
        <div class="col-4"></div>
    </div>

</div>
<!--Button-->
<div class="btn btn-info">
    <a href="/subject">
        <button class="btn btn-success" tabindex="21" type="submit">Back</button>
    </a>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>