<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hall Update</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>


</head>
<body>

<div class="container- p-3 my-2 bg-primary text-white">
    <h2>Hall Update</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-5">
            <form method="POST">
                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="hallNo">Hall Number</label></b>

                    </div>
                    <div class="col-8">
                        <input type="hallNo" class="form-control" placeholder="Enter the Hall Number" id="">

                    </div>
                </div>
                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="condition">Hall Condition</label></b>
                    </div>
                    <div class="col-8">
                        <select class="form-control" id="example-select-one">
                            <option selected="">Select</option>
                            <option value="1">Air Conditioned</option>
                            <option value="2">Non A/C</option>
                        </select>
                    </div>
                </div>
                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="seatingCount">Seat Count</label></b>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Enter Number of Seats" id="">
                    </div>
                </div>
                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="location">Hall Location</label></b>
                    </div>
                    <div class="col-8">
                        <select class="form-control" id="example-select-one">
                            <option selected="">Select</option>
                            <option value="1">1<sup>st</sup> Floor</option>
                            <option value="2">2<sup>nd</sup> Floor</option>
                            <option value="3">3<sup>rd</sup> Floor</option>
                            <option value="4">Ground Floor</option>
                        </select>
                    </div>

                </div>

                <div class="row form-batch">
                    <div class="col-4 ">

                    </div>
                    <div class="col-8">
                        <input type="submit" class="btn btn-primary" value="Submit">

                        <input type="reset" class="btn btn-danger" value="Clear All">
                    </div>
                </div>


            </form>
        </div>
        <div class="col-4">
            <div class="card" style="width:400px">
                <img class="card-img-top" src="h2.png" alt="Card image">
                <div class="card-body">
                    <h4 class="card-title">View Hall Details</h4>
                    <button data-toggle="collapse" class="btn btn-outline-info" data-target="#demo">View Hall Details</button>

                    <div id="demo" class="collapse">
                        <form method="post">
                            <br>
                            <input type="text" class="form-control" placeholder="Search by Hall Number" aria-label="Text input with button"><p></p>
                            <button type="submit" class="btn btn-outline-warning">View</button>
                            <a href="#" class="btn btn-outline-secondary" role="button">Print</a>
                            <button type="reset" class="btn btn-outline-danger">Remove Hall</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="=col-3">
            <h5>Reserved for Display Hall Details</h5>
            <button type="Delete" class="btn btn-danger" data-toggle="collapse" data-target="#demo">Click Me</button>
        </div>

    </div>
</div>

</div>

</body>
</html>





<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <div class="col-8">
                    <a href="/hall">
                        <h2 class="title">Hall Management</h2>
                    </a>
                </div>

                <div class="col-4">
                    <a href="/hall">
                        <button class="btn btn-primary">All Hall</button>
                    </a>
                </div>
                <form action="/hall/save" data-th-object="${hall}" method="post">
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label form-row text-right" data-th-for="${id}">Hall ID</label>
                                <input class="input--style-4 form-control"  data-th-field="*{id}"type="text" name="first_name">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label form-row text-right" data-th-for="${number}">Hall Number</label>
                                <input class="input--style-4 form-control"  data-th-field="*{number}" type="text" name="Hall Number">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label form-row text-right" data-th-for="${seatCount}">Seat Count</label>
                                <input class="input--style-4 form-control"  data-th-field="*{seatCount}"type="text" name="first_name">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label form-row text-right" data-th-for="${number}">Hall Number</label>
                                <input class="input--style-4 form-control"  data-th-field="*{number}" type="text" name="Hall Number">
                            </div>
                        </div>
                        <div class="input-group">
                            <label class="label form-row text-right" data-th-for="${hallName}">Hall Name</label>
                            <input class="input--style-4 form-control"  data-th-field="*{hallName}"type="text" name="first_name">
                        </div>
                    </div>
            </div>
            <div class="row row-space">
                <div class="col-2">
                    <div class="input-group">
                        <label class="label">Email</label>
                        <input class="input--style-4" type="email" name="email">
                    </div>
                </div>
                <div class="col-2">
                    <div class="input-group">
                        <label class="label">Phone Number</label>
                        <input class="input--style-4" type="text" name="phone">
                    </div>
                </div>
            </div>
            <div class="input-group">
                <label class="label">Subject</label>
                <div class="rs-select2 js-select-simple select--no-search">
                    <select name="subject">
                        <option disabled="disabled" selected="selected">Choose option</option>
                        <option>Subject 1</option>
                        <option>Subject 2</option>
                        <option>Subject 3</option>
                    </select>
                    <div class="select-dropdown"></div>
                </div>
            </div>
            <div class="p-t-15">
                <button class="btn btn--radius-2 btn--blue" type="submit">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
</div>

<!-- Jquery JS-->
<script src="vendor/jquery/jquery.min.js"></script>
<!-- Vendor JS-->
<script src="vendor/select2/select2.min.js"></script>
<script src="vendor/datepicker/moment.min.js"></script>
<script src="vendor/datepicker/daterangepicker.js"></script>

<!-- Main JS-->
<script src="js/global.js"></script>

</body>
