

<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management System</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-link">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1>Hall Details</h1>
    </div>
    <div class="col-4">
        <a href="/hall/add">
            <button class="btn btn-primary" align="center">Add New Hall</button>
        </a>
    </div>
</div>
<!--Discount detail-->
<div class=" row container-fluid" data-th-fragment="hallDetail">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <div class="form-group">
            <label data-th-for="${id}" class="col-sm-3 control-label">Hall ID</label>
            <div class="col-sm-6">
                <p type="text" id="id" class="form-control"   data-th-text="${hallDetail.id}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${number}" class="col-sm-3 control-label">Hall Number</label>
            <div class="col-sm-6">
                <p type="text" id="number" class="form-control"   data-th-text="${hallDetail.number}">
            </div>
        </div><div class="form-group">
        <label data-th-for="${number}" class="col-sm-3 control-label">Hall Name</label>
        <div class="col-sm-6">
            <p type="text" id="name" class="form-control"   data-th-text="${hallDetail.name}">
        </div>
    </div>
        <div class="form-group">
            <label data-th-for="${hallCondition}" class="col-sm-3 control-label">Hall Condition</label>
            <div class="col-sm-6">
                <p type="text" id="hallCondition" class="form-control"   data-th-text="${hallDetail.hallCondition.hallCondition}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${seatCount}" class="col-sm-3 control-label">Seating Count</label>
            <div class="col-sm-6">
                <p type="text" id="seatCount" class="form-control"   data-th-text="${hallDetail.seatCount}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${hallLocation}" class="col-sm-3 control-label">hallLocation</label>
            <div class="col-sm-6">
                <p type="text" id="hallLocation" class="form-control"   data-th-text="${hallDetail.hallLocation}">
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-sm-2 col-sm-offset-2">
                <a href="/hall">
                    <button type="link"  class="btn btn-danger btn-block" >Back</button>
                </a>
            </div>

        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
