<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-secondary">
    <div class="col-4">
        <a href="/hall/new">
            <button class="btn btn-primary">New Hall</button>
        </a>
    </div>
    <div class="col-4">
        <h1>Hall Management</h1>
    </div>
    <div class="col-4"></div>
</div>

<div class="container-fluid">
    <table class="table table-striped table-inverse table-responsive" id="myTable">
        <thead class="thead-inverse">
        <tr>
            <th>Index</th>
            <th>Number</th>
            <th>Condition</th>
            <th>Seating Count</th>
            <th>Location</th>
            <th>Modify</th>



        </tr>
        </thead>
        <tbody>
        <tr data-th-each="hall, index : ${halls}">
            <td data-th-text="${hall.number}"></td>
            <td data-th-text="${hall.hallCondition}"></td>
            <td data-th-text="${hall.seatCount}"></td>
            <td data-th-text="${hall.HallLocation}"></td>



            <td>
                <a data-th-href="${'/hall/view/'+ hall.id}"><button class="btn btn-info">View</button></a>
                <a data-th-href="${'/hall/edit/'+ hall.id}"><button class="btn btn-success">Edit</button></a>
                <a data-th-href="${'/hall/delete/'+ hall.id}"><button class="btn btn-danger">Delete</button></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>