<!DOCTYPE html>
<html lang="en" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Success Student Management</title >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<!--Page header -->
<div class="container-fluid bg-light form-Border" >
  <div class="row text-center formManagement border-info" >
    <div class="col" >
      <a class="btn btn-primary" href="/home" >
        <i class="fa fa-home" style="font-size: 20px" ></i > &nbsp; Home
      </a >
    </div >
    <div class="col" >
      <h4 class="text-dark text-center" >
        <strong >
          <span id="formHeader" data-th-text="${addStatus==true?'New User':'Update User'}" ></span >
        </strong >
      </h4 >
    </div >
    <div class="col" >
      <a href="/user" class="btn btn-primary" >
        <i class="fa fa-list" ></i >&nbsp; View List
      </a >
    </div >
  </div >
</div >
<!--Employee find-->
<div class="container-fluid bg-light formBorder" data-th-if="${employeeDetailShow==false}" >
  <div class="col-sm-12 flex-column " >
    <form id="form" method="POST" data-th-action="${'/user/teacher'}" data-th-object="${teacher}"
    >
      <div class="form-row" >
        <div class="col-5 flex-column" >
          <div class="form-batch" >
            <div class="col-4" >
              <label class="control-label" for="selectParameter" >Parameter :</label >
            </div >
            <div class="col-8" >
              <select id="selectParameter" class="form-control" tabindex="1" required >
                <option value="" >Please select</option >
                <option value="nic" >NIC Number</option >
                <option value="RegistrationId" >Registration Number</option >
                <option value="firstName" >First Name</option >
              </select >
            </div >
          </div >
        </div >
        <div class="col-4 flex-column" >
          <div class="form-batch" >
            <div class="col-5" >
              <label class="control-label" for="valueEmployee" >Value :</label >
            </div >
            <div class="col-7" >
              <input id="valueEmployee" tabindex="2" class="form-control" type="text" minlength="3"
                     required
                     autofocus />
            </div >
          </div >
        </div >
        <div class="col-3 flex-column" >
          <div class="form-batch" >
            <div class="" >
              <div class="col-2" >
                <label class="control-label" ></label >
              </div >
              <div class="col-10 text-left" >
                <button class="btn btn-success" tabindex="3" type="submit" >
                  <i class="fa fa-search " style="font-size: 20px" ></i >&nbsp; &nbsp;Search
                </button >
              </div >
            </div >
          </div >
        </div >
      </div >
    </form >
  </div >
</div >
<!--Employee not fount message-->
<div id="employeeNotFoundShow" data-th-if="${employeeNotFoundShow==true}"
     class="alert alert-warning alert-dismissible fade show text-center" role="alert" >
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
    <span aria-hidden="true" >&times;</span >
  </button >
  <strong ><span data-th-text="${employeeNotFound}" ></span ></strong >

</div >

<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

<script >
    $(".alert").alert();
</script >
</body >
</html >
