<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management System</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-light">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h1>Add a new teacher</h1>
    </div>
    <div class="col-4">
        <a href="/teacher">
            <button class="btn btn-primary">View all teachers</button>
        </a>
    </div>
</div>
<div class="container">
    <form action="/teacher/save" data-th-object="${teacher}" method="post">
        <!--index-->
        <div class="form-group" data-th-if="${addStatus== false}">
            <label class="col-sm-3 control-label" data-th-for="${id}">Index</label>
            <div class="col-sm-9">
                <input type="text" readonly data-th-field="*{id}" id="id" placeholder="Index" class="form-control" autofocus>
            </div>
        </div>
        <!--registrationId-->
        <div class="form-group" data-th-if="${addStatus== false}">
            <label class="col-sm-2 control-label" data-th-for="${registrationId}">Registration ID</label>
            <div class="col-sm-5">
                <input type="text" id="registrationId" class="form-control" data-th-field="*{registrationId}">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!--firstName-->
                <div class="form-group">
                    <label class="col-4 control-label" data-th-for="${firstName}">First name</label>
                    <div class="col-6">
                        <input type="text" id="firstName" class="form-control" data-th-field="*{firstName}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!--lastName-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${lastName}">Last name</label>
                    <div class="col-6">
                        <input type="text" id="lastName" class="form-control" data-th-field="*{lastName}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!--Gender-->
                <div class="form-group" >
                    <div class="col-6" >
                        <label class="control-label" for="gender" >Gender :</label >
                    </div >
                    <div class="col-6" >
                        <div class="custom-control custom-checkbox custom-control-inline "
                             data-th-each="genders,index : ${gender}">
                            <input class="custom-control-input gender" required
                                   data-th-name="${'gender'}"
                                   data-th-value="${genders}"
                                   data-th-id="${index.index}+${genders}" type="radio"
                                   data-th-checked="${genders==gender}"/>
                            <label class="custom-control-label"
                                   data-th-for="${index.index}+${genders}"
                                   data-th-text="${genders.gender}"> radio
                            </label>
                        </div>
                    </div >
                </div >
            </div>
            <div class="col-sm-6">
                <!--mobileNumber-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${mobile}">Mobile number</label>
                    <div class="col-6">
                        <input type="tel" id="mobile" class="form-control" data-th-field="*{mobile}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <!--nic-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${nic}">NIC</label>
                    <div class="col-6">
                        <input type="text" id="nic" class="form-control" data-th-field="*{nic}">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!--dateOfBirth-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${dateOfBirth}">Date of birth</label>
                    <div class="col-6">
                        <input type="date" id="dateOfBirth" class="form-control" data-th-field="*{dateOfBirth}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <!--address-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${address}">Address</label>
                    <div class="col-6">
                        <textarea id="address" class="form-control" data-th-field="*{address}"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!--email-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${email}">Email</label>
                    <div class="col-6">
                        <input type="text" id="email" class="form-control" data-th-field="*{email}">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <!--subject-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${subject}">Subject</label>
                    <div class="col-6">
                        <select id="subject" data-th-field="*{subject}" class="form-control" tabindex="7" required >
                            <option value="" >Please select</option >
                            <option data-th-each="subject : ${subjects}"
                                    data-th-text="${subject.name}"
                                    data-th-value="${subject.id}" ></option >
                        </select >   </div>
                </div>
            </div>
            <div class="col-sm-6">
                <!--tutionFee-->
                <div class="form-group">
                    <label class="col-6 control-label" data-th-for="${fee}">Tution Fee</label>
                    <div class="col-6">
                        <input type="number" id="fee" class="form-control" data-th-field="*{fee}">
                    </div>
                </div>
            </div>
        </div>
        <div class="row align-content-center">
            <div class="col-sm-2 col-sm-offset-2">
                <button type="link" class="btn btn-danger btn-block">Back</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="reset" class="btn btn-warning btn-block">Clear Data</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </div>
        </div>
    </form>
</div>
<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
