<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Student Management System</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-light">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h1>Add a new teacher</h1>
    </div>
    <div class="col-4">
        <a href="/teacher">
            <button class="btn btn-primary">View all teachers</button>
        </a>
    </div>
</div>
<div class="container">
    <form action="/teacher/save" data-th-object="${teacher}" method="post">
<!--        <div class="form-group">-->
<!--            <label class="col-sm-3 control-label" data-th-for="${id}">Index</label>-->
<!--            <div class="col-sm-9">-->
<!--                <input type="text" readonly data-th-field="*{id}" id="id" placeholder="Index" class="form-control" autofocus>-->
<!--            </div>-->
<!--        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${registrationId}">Registration ID</label>
            <div class="col-sm-5">
                <input type="text" id="registrationId" class="form-control" data-th-field="*{registrationId}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${firstName}">First name</label>
            <div class="col-sm-4">
                <input type="text" id="firstName" class="form-control" data-th-field="*{firstName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${lastName}">Last name</label>
            <div class="col-sm-4">
                <input type="text" id="lastName" class="form-control" data-th-field="*{lastName}">
            </div>
        </div>
        <div class="form-group">
<!--            <label class="col-sm-3 control-label">Gender</label>-->
<!--            <div class="col-sm-9">-->
<!--                <select id="gender" class="form-control" data-th-field="*{gender}">-->
<!--                    <option value="Male">Male</option>-->
<!--                    <option value="Female">Female</option>-->
<!--                </select>-->
<!--            </div>-->



            <label class="col-sm-2 control-label" data-th-for="${dateOfBirth}">Date of birth</label>
            <div class="col-sm-4">
                <input type="date" id="dateOfBirth" class="form-control" data-th-field="*{dateOfBirth}">
            </div>

            <label class="col-sm-2 control-label" data-th-for="${address}">Address</label>
            <div class="col-sm-4">
                <textarea id="address" class="form-control" data-th-field="*{address}"></textarea>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${email}">Email</label>
            <div class="col-sm-4">
                <input type="text" id="email" class="form-control" data-th-field="*{email}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${mobile}">Mobile number</label>
            <div class="col-sm-4">
                <input type="tel" id="mobile" class="form-control" data-th-field="*{mobile}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${subject}">Subject</label>
            <div class="col-sm-4">
                <input type="text" id="subject" class="form-control" data-th-field="*{subject}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" data-th-for="${fee}">Tution Fee</label>
            <div class="col-sm-4">
                <input type="text" id="fee" class="form-control" data-th-field="*{fee}">
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-sm-2 col-sm-offset-2">
                <button type="link" class="btn btn-danger btn-block">Back</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="reset" class="btn btn-warning btn-block">Clear Data</button>
            </div>

            <div class="col-sm-2 col-sm-offset-2">
                <button type="submit" class="btn btn-success btn-block">Submit</button>
            </div>
        </div>
    </form>
</div>
</body>
</html>
<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>