<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" class="page-footer">
    <div class="footer-copyright">
        <div class="container-fluid text-center text-info">
            <p>
                <strong>
                    <i>
                        <a href="#" target="_blank">
                            &copy; &nbsp;<span id="currentYear"></span> &nbsp; W3Academy
                        </a>
                    </i>
                </strong>
            </p>
        </div>
    </div>
</footer>

