<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="scriptFragment">

    <!-- jQuery library -->
    <script th:src="@{/webjars/jquery/3.4.1/jquery.js}"></script>
    <!-- jQuery ui -->
    <script th:src="@{/webjars/jquery-ui/1.12.1/jquery-ui.min.js}"></script>
    <!-- Latest compiled JavaScript for bootstrap-->
    <script th:src="@{/webjars/popper.js/1.15.0/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
    <!-- fontawesome js -->
    <script th:src="@{/webjars/font-awesome/5.11.2/js/all.min.js}"></script>
    <!-- pdf js -->
    <script th:src="@{/webjars/pdf-js/2.3.200/build/pdf.js}"></script>
    <script th:src="@{/webjars/pdf-js/2.3.200/build/pdf.worker.js}"></script>
    <script th:src="@{/webjars/pdf-js/2.3.200/web/viewer.js}"></script>
    <script th:src="@{/webjars/pdf-js/2.3.200/web/debugger.js}"></script>
    <!-- Chart js-->
    <script th:src="@{/webjars/chart.js/2.9.3/dist/Chart.min.js}"></script>
    <script th:src="@{/webjars/chart.js/2.9.3/dist/Chart.bundle.min.js}"></script>

    <!--To modify the alert-->
    <script th:src="@{/js/sweetalert.js}"></script>
    <!-- data table -->
    <script th:src="@{/js/pagination.js}"></script>
    <!--custom javascript-->
    <script th:src="@{/js/myJs.js}"></script>
    <!--image - uploader javascript-->
    <script th:src="@{/js/image-uploader.min.js}"></script>

    <!--notification count get url-->
    <!--  <script>
          $(document).ready(function () {
              /*
              console.log("petition count url "+ petitionCountUrl);
              console.log("document.URL : "+document.URL);
              console.log("document.location.href : "+document.location.href);
              console.log("document.location.origin : "+document.location.origin);
              console.log("document.location.hostname : "+document.location.hostname);
              console.log("document.location.host : "+document.location.host);
              console.log("document.location.pathname : "+document.location.pathname);
              */

              let petitionCountUrl = document.location.origin + "/petitionCount";
              if (document.location.pathname !== "/login") {
                  // to get petition count every five secound
                  window.setInterval(function () {
                      $.ajax({
                          type: "get",
                          dataType: 'json',
                          contentType: 'application/json',
                          url: petitionCountUrl,
                          success: function (data, textStatus) {
                              if (textStatus === 'success') {
                                  /// call your function here
                                  $("#petitionTodayCount").html(data);
                              }
                          },
                          error: function (xhr, textStatus, errorThrown) {
                              console.log('request failed   ' + errorThrown);
                              location.reload();
                          }
                      });

                  }, 5000);
              }
          });
      </script>-->
</div>
</body>
</html>




