<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
</head >
<body >
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >


<div class="container  form-Border" >
  <div class="row text-center formManagement border-info" >
    <div class="col" >
      <a class="btn btn-outline-info" href="/home" >
        Back To Home
      </a >
    </div >

    <div class="col" >
      <a href="/employee" class="btn btn-info" >
        View Employees
      </a >
    </div >
  </div >
  <div class="row text-center" >
    <div class="col" >
      <h4 class="text-info text-center" >
        <strong >
          <span data-th-text="${addStatus==true?'New Employee':'Update Employee Details'}" ></span >
        </strong >
      </h4 >
    </div >
  </div >
</div >
<!--Form Content - start -->
<div class="container-fluid bg-light formBorder" >
  <div class="col-sm-12 flex-column " >
    <form id="form" class="form-horizontal" data-th-action="${addStatus==true?'/employee/save':'/employee/update'}"
          data-th-object="${employee}" method="POST" enctype="multipart/form-data" >
      <div class="row" >
        <!--Left Side-->
        <div class="form-group col-md-6 col-sm-6 text-left flex-column" >
          <!--Id-->
          <div id="idStatus" data-th-if="${addStatus==false}" class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="id" >ID :</label >
            </div >
            <div class="col-md-8" >
              <input id="id" data-th-field="*{id}" class="form-control" type="text" readonly />
              <input type="text" data-th-field="*{liveDead}" hidden>
            </div >
          </div >
          <!--Payrole number-->
          <div class="form-row text-right" data-th-if="${addStatus==false}">
            <div class="col-md-4" >
              <label class="control-label" for="name" >Employee code :</label >
            </div >
            <div class="col-md-8" >
              <input id="code" data-th-field="*{code}" class="form-control" tabindex="4"
                     type="text" required />
              <span id="codeE" data-th-errors="*{code}"
                    data-th-if="${#fields.hasErrors('code')}" class="error" >Error Employee code
                            </span >
            </div >
          </div >
          <!--Tittle -->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="title" >Title :</label >
            </div >
            <div class="col-md-8" >
              <select id="title" data-th-field="*{title}" class="form-control" tabindex="3" required >
                <option value="" >Please select</option >
                <option data-th-each="titles : ${title}"
                        data-th-text="${titles.title}"
                        data-th-value="${titles}"
                        data-th-selected="${titles==employee.title?'selected':'unselected'}" ></option >
              </select >
            </div >
          </div >
          <!--Name-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="name" >Name :</label >
            </div >
            <div class="col-md-8" >
              <input id="name" data-th-field="*{name}" class="form-control" tabindex="4" type="text" required />
              <span id="nameError" data-th-errors="*{name}"
                    data-th-if="${#fields.hasErrors('name')}" class="error" >Error Name</span >
            </div >
          </div >
          <!--Calling Name-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="callingName" >Calling Name :</label >
            </div >
            <div class="col-md-8" >
              <input id="callingName" data-th-field="*{callingName}" class="form-control" tabindex="5"
                     type="text" minlength="5" />
              <span class="error" data-th-errors="*{callingName}"
                    data-th-if="${#fields.hasErrors('callingName')}" id="callingNameError" >Error Calling Name</span >
            </div >
          </div >
          <!--Nic-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="nic" >NIC No :</label >
            </div >
            <div class="col-md-8" >
              <input data-th-field="*{nic}" class="form-control" tabindex="6" type="text"
                     maxlength="12"
                     minlength="10" required />
              <span class="error" id="nicError" data-th-errors="*{nic}"
                    data-th-if="${#fields.hasErrors('nic')}" >Error NIC Number</span >
            </div >
          </div >
          <!--Gender-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="gender" >Gender :</label >
            </div >
            <div class="col-md-8" >
              <div class="custom-control custom-checkbox custom-control-inline "
                   data-th-each="genders,index : ${gender}">
                <input class="custom-control-input gender" required
                       data-th-name="${'gender'}"
                       data-th-value="${genders}"
                       data-th-id="${index.index}+${genders}" type="radio"
                       data-th-checked="${genders==gender}"/>
                <label class="custom-control-label"
                       data-th-for="${index.index}+${genders}"
                       data-th-text="${genders.gender}"> radio
                </label>
              </div>
            </div >
          </div >
          <!--Date of birth-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="dateOfBirth" >Birth date :</label >
            </div >
            <div class="col-md-8" >
              <input id="dateOfBirth" data-th-field="*{dateOfBirth}" class="form-control" tabindex="8"
                     placeholder="Ex: 1990 - 01 - 20"
                     required type="date" />
              <span id="dateOfBirthError" data-th-errors="*{dateOfBirth}"
                    data-th-if="${#fields.hasErrors('dateOfBirth')}" class="error" >Error Birthday</span >
            </div >
          </div >
          <!--Blood group-->
          <!--<div class="form-row text-right">
              <div class="col-md-4">
                  <label class="control-label" for="bloodGroup">Blood Group :</label>
              </div>
              <div class="col-md-8">
                  <select id="bloodGroup" data-th-field="*{bloodGroup}" class="form-control" tabindex="9" required>
                      <option value="">Please select</option>
                      <option data-th-each="bloodGroups : ${bloodGroup}"
                              data-th-text="${bloodGroups.bloodGroup}"
                              data-th-value="${bloodGroups}"
                              data-th-selected="${bloodGroups==employee.bloodGroup?'selected':'unselected'}">Please select</option>
                  </select>
              </div>
          </div>-->
          <!--Designation-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="designation" >Designation :</label >
            </div >
            <div class="col-md-8" >
              <select id="designation" data-th-field="*{designation}" class="form-control" tabindex="10"
                      required >
                <option value="" >Please select</option >
                <option data-th-each="designations : ${designation}"
                        data-th-text="${designations.designation}"
                        data-th-value="${designations}"
                        data-th-selected="${designations==employee.designation?'selected':'unselected'}" ></option >
              </select >
            </div >
          </div >
        </div >
        <!--Right Side-->
        <div class="form-group col-md-6 col-sm-6 text-right flex-column" >
          <!--Civil status-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="civilStatus" >Civil State :</label >
            </div >
            <div class="col-md-8" >
              <select data-th-field="*{civilStatus}" id="civilStatus" class="form-control" tabindex="11"
                      required >
                <option value="" >Please select</option >
                <option data-th-each="civilStatu : ${civilStatus}"
                        data-th-text="${civilStatu.CivilStatus}"
                        data-th-value="${civilStatu}"
                        data-th-selected="${civilStatu==employee.civilStatus?'selected':'unselected'}" ></option >
              </select >
            </div >
          </div >
          <!--Address-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="address" >Address :</label >
            </div >
            <div class="col-md-8" >
                            <textarea id="address" data-th-field="*{address}" class="form-control" tabindex="12"
                                      required ></textarea >
              <span class="error" data-th-errors="*{address}"
                    data-th-if="${#fields.hasErrors('address')}" id="addressError" >Error Address</span >
            </div >
          </div >
          <!--Mobile Number One-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="mobileOne" >Mobile One No :</label >
            </div >
            <div class="col-md-8" >
              <input id="mobileOne" data-th-field="*{mobileOne}" class="form-control mobile" tabindex="13"
                     type="text"
                     maxlength="10" min="9"
                     required />
              <span class="error" data-th-errors="*{mobileOne}"
                    data-th-if="${#fields.hasErrors('mobileOne')}"
                    id="mobileOneError" >Error Mobile Number</span >
            </div >
          </div >
          <!--Mobile Number Two-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="mobileTwo" >Mobile Two No :</label >
            </div >
            <div class="col-md-8" >
              <input id="mobileTwo" data-th-field="*{mobileTwo}" class="form-control mobile" tabindex="14"
                     type="text"
                     maxlength="10" min="9" />
              <span class="error" data-th-errors="*{mobileTwo}"
                    data-th-if="${#fields.hasErrors('mobileTwo')}"
                    id="mobileTwoError" >Error Mobile Number</span >
            </div >
          </div >
          <!--Land Number-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="land" >Land No :</label >
            </div >
            <div class="col-md-8" >
              <input id="land" data-th-field="*{land}" class="form-control land" type="text" tabindex="15"
                     maxlength="10"
                     min="9" />
              <span class="error" data-th-errors="*{land}"
                    data-th-if="${#fields.hasErrors('land')}" id="landError" >Error Land Number</span >
            </div >
          </div >
          <!--Email-->
          <!--<div class="form-row text-right">
              <div class="col-md-4">
                  <label class="control-label" for="email">Email :</label>
              </div>
              <div class="col-md-8">
                  <input id="email" data-th-field="*{email}" class="form-control" tabindex="16" type="email" required/>
                  <span class="error" data-th-errors="*{email}"
                        data-th-if="${#fields.hasErrors('email')}" id="emailError">Error Email</span>
              </div>
          </div>-->
          <!--Office email-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="officeEmail" >Office Email :</label >
            </div >
            <div class="col-md-8" >
              <input id="officeEmail" data-th-field="*{officeEmail}" class="form-control" tabindex="17"
                     type="email" required />
              <span class="error" data-th-errors="*{officeEmail}"
                    data-th-if="${#fields.hasErrors('officeEmail')}"
                    id="officeEmailError" >Error Office Email</span >
            </div >
          </div >
          <!--Date of assignment-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="dateOfAssignment" >Date Of Assignment :</label >
            </div >
            <div class="col-md-8" >
              <input id="dateOfAssignment" data-th-field="*{{dateOfAssignment}}" type="date"
                     class="form-control" tabindex="18"
                     placeholder="Ex: 1990 - 01 - 20" required />
              <span class="error" data-th-errors="*{dateOfAssignment}"
                    data-th-if="${#fields.hasErrors('dateOfAssignment')}" id="dateOfAssignmentError" >Error Date Of Assignment</span >
            </div >
          </div >
          <!--Employee status-->
          <div class="form-row text-right" >
            <div class="col-md-4" >
              <label class="control-label" for="employeeStatus" >Employee Status :</label >
            </div >
            <div class="col-md-8" >
              <select id="employeeStatus" data-th-field="*{employeeStatus}" class="form-control" tabindex="19"
                      required >
                <option value="" >Please select</option >
                <option data-th-each="employeeStatuss : ${employeeStatus}"
                        data-th-text="${employeeStatuss.employeeStatus}"
                        data-th-value="${employeeStatuss}"
                        data-th-selected="${employeeStatuss==employee.employeeStatus?'selected':'unselected'}" ></option >
              </select >
            </div >
          </div >
          <!--Image-->
          <div class="form-row text-right" >
            <div class="form-row " >
              <div class="col-md-3 mr-5" >
                <label class="control-label" >Image</label >
                <input type="file" name="file" id="imgUpload"
                       accept="image/png, image/jpeg" />
              </div >
              <div class="col-md-3" ></div >
              <div class="col-md-3 ml-5" >
                <!--photo details-->
                <img class="img-fluid ml-5" data-th-if="${addStatus==false && file!=null}" data-th-src="${file.url}"
                     id="image" alt=""
                     style="height: 100px; width: 100%;" >
                <img class="img-fluid ml-5" data-th-if="${addStatus==true}" src="" id="image" alt=""
                     style="height: 100px; width: 100%" >
              </div >
            </div >
          </div >
          <!--Created by and created at-->
          <div id="updateStatus" data-th-if="${addStatus==false}" >
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label class="control-label" for="createdBy" >Created By :</label >
              </div >
              <div class="col-md-8" >
                <input id="createdBy" data-th-field="*{createdBy}" class="form-control" type="text"
                       readonly />
              </div >
            </div >
            <div class="form-row text-right" >
              <div class="col-md-4" >
                <label class="control-label" for="createdAt" >Created At :</label >
              </div >
              <div class="col-md-8" >
                <input id="createdAt" data-th-text="${{createdAt}}" class="form-control" type="text"
                       readonly />
              </div >
            </div >
          </div >
        </div >
        <div class="form-group col-md-12 col-sm-12 text-left flex-column " >
          <!--Button-->
          <div class="form-group col-md-12 col-sm-12 text-center flex-column " >
            <button class="btn btn-success" type="submit" tabindex="21" >
              <i class="fa fa-save " style="font-size: 20px" ></i >&nbsp; &nbsp;<span id="submit"
                                                                                      data-th-text="${addStatus==true?'Save': 'Update'}" ></span >
            </button >
            <button class="btn btn-danger" type="reset" >
              <i class="fa fa-redo" ></i > <span id="reset" >Reset</span >
            </button >
          </div >
        </div >
        <div class="form-row" >
          <label id="errorLabel" data-th-if="${#fields.hasErrors('*')}" data-th-text="'Errors: '" >Errors: </label >
          <ul >
            <li id="error" data-th-each="err : ${#fields.errors('*')}" data-th-text="${err}" class="error" ></li >
          </ul >
        </div >
      </div >
    </form >
  </div >
</div >
<!--footer include-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script include-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >

<script >
    $(document).ready(function () {
        imageSrcAttributeCheck();
    });

    function readURL(input) {
        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $('#image').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    //display selected image
    $("#imgUpload").change(function () {
        $("#image").toggle('show');
        readURL(this);

    });

    //image is not -> showing area hide
    function imageSrcAttributeCheck() {
        let attribute = $("#image").attr("src");
        if (attribute === '') {
            $("#image").toggle('hide');
        }
    }
</script >
</body >
</html >
