<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-link">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1>Employee Details</h1>
    </div>
    <div class="col-4">
        <a href="/employee/add">
            <button class="btn btn-primary" align="center">Create a Discount</button>
        </a>
    </div>
</div>
<!--Discount detail-->
<div class=" row container-fluid" data-th-fragment="employeeDetail">
    <div class="col-sm-5">
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${payRoleNumber}">Employee ID</label>
            <div class="col-sm-6">
                <p type="text" id="payRoleNumber" class="form-control" data-th-text="*{employeeDetail.payRoleNumber}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${title}">Title</label>
            <div class="col-sm-6">
                <p type="text" id="title" class="form-control" data-th-text="*{employeeDetail.title}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${callingName}">Calling name</label>
            <div class="col-sm-6">
                <p type="text" id="callingName" class="form-control" data-th-text="*{employeeDetail.callingName}">            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${name}">Full Name</label>
            <div class="col-sm-6">
                <p type="text" id="name" class="form-control" data-th-text="*{employeeDetail.name}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="gender">Gender</label>
            <div class="col-sm-6">
                <p type="text" id="gender" class="form-control" data-th-text="*{employeeDetail.callingName}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="nic">NIC</label>
            <div class="col-sm-6">
                <p type="text" id="nic" class="form-control" data-th-text="*{employeeDetail.nic}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="dateOfBirth">Date of Birth</label>
            <div class="col-sm-6">
                <p type="text" id="dateOfBirth" class="form-control" data-th-text="*{employeeDetail.dateOfBirth}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="bloodGroup">Blood group</label>
            <div class="col-sm-6">
                <p type="text" id="bloodGroup" class="form-control" data-th-text="*{employeeDetail.bloodGroup}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="civilStatus">Martial Status</label>
            <div class="col-sm-6">
                <p type="text" id="civilStatus" class="form-control" data-th-text="*{employeeDetail.civilStatus}">
            </div>
        </div>

    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${address}">Address</label>
            <div class="col-sm-6">
                <p type="text" id="address" class="form-control" data-th-text="*{employeeDetail.address}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${address}">Mobile number</label>
            <div class="col-sm-6">
                <p type="text" id="mobileOne" class="form-control" data-th-text="*{employeeDetail.mobileOne}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${land}">Fixed number</label>
            <div class="col-sm-6">
                <p type="text" id="land" class="form-control" data-th-text="*{employeeDetail.land}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${email}">Email</label>
            <div class="col-sm-6">
                <p type="text" id="email" class="form-control" data-th-text="*{employeeDetail.email}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${designation}">Designation</label>
            <div class="col-sm-6">
                <p type="text" id="designation" class="form-control" data-th-text="*{employeeDetail.designation}">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-6 control-label" data-th-for="${dateOfAssignment}">Date of Assignment</label>
            <div class="col-sm-6">
                <p type="text" id="dateOfAssignment" class="form-control" data-th-text="*{employeeDetail.dateOfAssignment}">
            </div>
        </div>
    </div>
    <div class="col-sm-3">
<!--        TODO : methenta PHOTOGRAPGH ek ena wdiyta configuration part ek add krganna oone-->
    </div>
</div>

<!--footer include-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script include-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>

</body>
</html>