* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji", "Comic Sans", "Courier New",
    georgia, helvetica, impact, "times new roman", "trebuchet ms", verdana,
    "Iskoola Pota";
    --error-color: #fa370d;
}

/* Main window- start*/
body {
    background-color: rgba(241, 241, 241, 0.91);
    background-size: cover;
    background-repeat: no-repeat;
}

/* Main window- end*/

/*html Background - start login page styles*/

#loginback{

    background-image: url(../img/1.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position:center center;
    background-repeat: no-repeat;
}
.form-area{

    float: left;
    width: 400px;
    height: 500px;
    margin-top:50px;
    margin-left:90px;
    position: relative;
    background:rgba(0,0,0,0.4);
    text-align: center;
    padding:40px;
    -webkit-border-radius:70px 0 70px 0;
    -moz-border-radius:70px 0 70px 0;
    border-radius:70px 0 70px 0 ;
}

.form-area{

    margin-bottom: 1px;
    color: darkorange;



}
/** fade login page-end**/
.form-area {
    animation: fadeIn ease 2s;
    -webkit-animation: fadeIn ease 2s;
    -moz-animation: fadeIn ease 2s;
    -o-animation: fadeIn ease 2s;
    -ms-animation: fadeIn ease 2s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

@-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
}

/** fade login page-end**/

.img-area{

    width: 170px;
    height: 170px;
    border-radius:100%;
    position: absolute;
    margin-left: -40px;
    margin-bottom: 15px;
    top: -5%;
    left: 45%;
}

.img-area img{

    width: 60%;
    padding: 10px;
    margin-bottom: 50px;

}

input{

    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    width: 100%;
    height:35px;
    margin-bottom: 15px;
    background-color: transparent;
    color: #fff;
    font-size: 16px;
    padding-left:5px;

}

.form-area p{
    text-align: left;
    color: #fff;
    font-weight: bold;
    font-size: medium;
}

#btnLogin{

    display: inline-block;
    height: 40px;
    width: 300px;
    padding: 3px;
    line-height: 40px;
    overflow: hidden;
    position: relative;
    text-align: center;
    font-size: 16px;
    background-color: #213e8b;
    border-radius: 250px;
    color: #fff;
    margin-top: 20px;
    cursor: pointer;
    margin-left: 15px;
    text-decoration: none;
    -webkit-transition:top 0.6s;
    -moz-transition:top 0.6s;
    -o-transition:top 0.6s;
}


#btnLogin:hover{
    background-color: lightseagreen;

}

.for-pass{

    text-decoration: none;
    display: block;
    margin-top: 50px;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
}

/**html Background - end login page styles*/


/*radio button style -start*/
.checkbox-round {
    width: 1.3em;
    height: 1.3em;
    background-color: #fff;
    border-radius: 50%;
    vertical-align: middle;
    border: 3px solid #20B2AA;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.checkbox-round:checked {
    background-color: green;
}
/* newemployee  and add buttons */

#button1,#searchShow{
    height:80px;
    margin: 10px;
    width:250px ;
    font-size: medium;
    padding: 28px;
    border-radius: 25px;

}

/*radio button style -end*/

/*mainWindow properties*/
.lblText {
    font-size: 16px;
}

.page-footer {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

.btn {
    box-shadow: 1px 2px 5px #000000;
}


/* for summary form - start*/
.casChqCdt {
    color: var(--error-color);
}

/* for summary form - end*/
/* for billing test show - start*/
#tableTestBill {
    font-size: 16px;
}

#tableTestBill tr td p {
    color: var(--error-color);
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

/* for sbilling test show - end*/
/*main window  - start*/
.mainWindowText {
    font-size: 1.5rem;
    text-shadow: 0 1px 0 #EEE428,
    0 2px 0 #adc945,
    0 3px 0 #ACA7C9,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0, 0, 1, .1),
    0 0 5px rgba(0, 0, 0, .1),
    0 1px 3px rgba(0, 0, 0, .3),
    0 3px 5px rgba(0, 0, 0, .2),
    0 5px 10px rgba(0, 0, 0, .25),
    0 10px 10px rgba(0, 0, 0, .2),
    0 20px 20px rgba(0, 0, 0, .15);
}

.mainWindowText:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    text-shadow: 5px 5px 2px #EEE428;
}

.mainWindImg:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    box-shadow: 3px -5px #f5f5f5, -1em 0 .4em #29A1D5;
}


/*main windo - properties end */
/*Nav bar - start*/

.dropdown-toggle {
    font-size: 18px;
!important;
}

.dropdown-menu{
   background-color: #4f4f4f;
    background:rgba(0,0,0,0.4);
}
.dropdown-item{
    font-size: small;
    color: white;

}

nav {
    position: sticky;
}

#petitionTodayCount{
    position:absolute;
    top:30%;
    left:60%;
    transform:translate(-10%,-90%);
}

.nav-item{
    margin-right:50px;
}

 .nav-link{
    font-size: medium;
}

 .dropdown-toggle:after {content: none}

.navbar li a{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;

}

/*Nav bar - end*/

/*error pages - properties start */

/*error pages - properties end */
/*Error Message Colour - star*/
.error {
    font-family: 'Open Sans', 'Segoe UI';
    font-size: 16px;
    font-weight: bold;
    color: var(--error-color);
}

#error {
    text-align: center;
}

#errorCode {
    margin-top: 10%;
    font-family: "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: oblique;
    font-size: 40px;
    color: #3299ff;
    background-color: #ffddca;
    border-radius: 10px;
}

#icon {
    height: 250px;
    width: 250px;
    box-shadow: 8px 8px 8px 8px white;

    border-radius: 50%;
    background: linear-gradient(215deg, #5ca155, #a080c5, #56a4b6, #04c2ec, #f2e053);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    -o-animation: AnimationName 10s ease infinite;
    animation: AnimationName 10s ease infinite;
}

#iconIn {
    font-size: 250px;
    text-align: center;
}

#errorMessage {
    color: var(--error-color);
    font-size: 20px;
    font-style: italic;
    background-color: white;
    border-radius: 5px 20px 0px 15px;
}

/*Error Message Colour - star*/
/*main window notification div style- start*/
.mainWindSumReport {
    color: #f7f7f7;
    align-content: center;
    background: #49e6fd;
    background: -webkit-radial-gradient(#6b67ff, #3b9ffd, #29A1D5);
    background: -o-radial-gradient(#6b67ff, #3b9ffd, #29A1D5);
    background: -moz-radial-gradient(#6b67ff, #3b9ffd, #29A1D5);
    background: radial-gradient(#6b67ff, #3b9ffd, #29A1D5);
    border: 1px solid #f7f7f7;
    border-radius: 25px 10px 25px 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*main window notification div style- end*/
/*all button same size according to boostrap btn-sm  - start*/
button .btn {
    padding: 5px 10px !important;
    font-size: 12px !important;
    line-height: 1.5 !important;
    border-radius: 50px !important;
}

/*all button same size according to boostrap btn-sm  - end*/

/*remove lab test from selected table - start*/
.removeLabTest {
    color: #f0ad4e;
    font-weight: lighter;
}

.addLabTest {
    color: #000000;
    background-color: #00FFFF;
}

/*remove lab test from selected table - end*/

/*form  - start*/
label {
   font-size: 18px !important;
    font-max-size: 22px;
    font-min-size: 12px;
    font-weight: bold;
    color: #213e8b ;
}

input {
    font-size: 18px !important;
}

.display_detail {
    font-size: 18px !important;
    font-max-size: 20px;
    font-min-size: 12px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
}

.form-row {
    padding: 10px;
    border-radius: 10px;
}

.formManagement {
    padding: 10px;
    border-radius: 15px;
    margin-bottom: 2px;
}

.formBorder {
    border-radius: 15px;
    background: linear-gradient(215deg, #5ca155, #a080c5, #56a4b6, #04c2ec, #f2e053);
    background-size: 1000% 1000%;

    -webkit-animation: AnimationName 31s ease infinite;
    -moz-animation: AnimationName 31s ease infinite;
    -o-animation: AnimationName 31s ease infinite;
    animation: AnimationName 31s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 88% 0%
    }
    50% {
        background-position: 13% 100%
    }
    100% {
        background-position: 88% 0%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 88% 0%
    }
    50% {
        background-position: 13% 100%
    }
    100% {
        background-position: 88% 0%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 88% 0%
    }
    50% {
        background-position: 13% 100%
    }
    100% {
        background-position: 88% 0%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 88% 0%
    }
    50% {
        background-position: 13% 100%
    }
    100% {
        background-position: 88% 0%
    }
}

.form-Border {
    border-radius: 15px;
}

/*form - end*/

/*Table show and hide - start*/
.display {
    display: none;
}

/*Table show and hide - end*/
/*medical Package show area - start*/
#medicalPackage {
    border: 2px solid blue;
    border-radius: 5px;
}

#labTestShowTable {
    margin-top: 3px;
}

#medicalPackageDetails {
    margin-top: 5px;
}

#btnRegisteredPatient {
    margin-bottom: 5px;
}

/*medical Package show area - end*/
/* enter filed validation - start*/
.valid {
    background-color: #7ae899;
}

.invalid {
    background-color: #ff88b3;
}

/*html 5 filed validation - start */
input:required:invalid, input:focus:invalid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeVJREFUeNqkU01oE1EQ/mazSTdRmqSxLVSJVKU9RYoHD8WfHr16kh5EFA8eSy6hXrwUPBSKZ6E9V1CU4tGf0DZWDEQrGkhprRDbCvlpavan3ezu+LLSUnADLZnHwHvzmJlvvpkhZkY7IqFNaTuAfPhhP/8Uo87SGSaDsP27hgYM/lUpy6lHdqsAtM+BPfvqKp3ufYKwcgmWCug6oKmrrG3PoaqngWjdd/922hOBs5C/jJA6x7AiUt8VYVUAVQXXShfIqCYRMZO8/N1N+B8H1sOUwivpSUSVCJ2MAjtVwBAIdv+AQkHQqbOgc+fBvorjyQENDcch16/BtkQdAlC4E6jrYHGgGU18Io3gmhzJuwub6/fQJYNi/YBpCifhbDaAPXFvCBVxXbvfbNGFeN8DkjogWAd8DljV3KRutcEAeHMN/HXZ4p9bhncJHCyhNx52R0Kv/XNuQvYBnM+CP7xddXL5KaJw0TMAF8qjnMvegeK/SLHubhpKDKIrJDlvXoMX3y9xcSMZyBQ+tpyk5hzsa2Ns7LGdfWdbL6fZvHn92d7dgROH/730YBLtiZmEdGPkFnhX4kxmjVe2xgPfCtrRd6GHRtEh9zsL8xVe+pwSzj+OtwvletZZ/wLeKD71L+ZeHHWZ/gowABkp7AwwnEjFAAAAAElFTkSuQmCC);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px;
    -moz-box-shadow: none;
}

input:required:valid {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAepJREFUeNrEk79PFEEUx9/uDDd7v/AAQQnEQokmJCRGwc7/QeM/YGVxsZJQYI/EhCChICYmUJigNBSGzobQaI5SaYRw6imne0d2D/bYmZ3dGd+YQKEHYiyc5GUyb3Y+77vfeWNpreFfhvXfAWAAJtbKi7dff1rWK9vPHx3mThP2Iaipk5EzTg8Qmru38H7izmkFHAF4WH1R52654PR0Oamzj2dKxYt/Bbg1OPZuY3d9aU82VGem/5LtnJscLxWzfzRxaWNqWJP0XUadIbSzu5DuvUJpzq7sfYBKsP1GJeLB+PWpt8cCXm4+2+zLXx4guKiLXWA2Nc5ChOuacMEPv20FkT+dIawyenVi5VcAbcigWzXLeNiDRCdwId0LFm5IUMBIBgrp8wOEsFlfeCGm23/zoBZWn9a4C314A1nCoM1OAVccuGyCkPs/P+pIdVIOkG9pIh6YlyqCrwhRKD3GygK9PUBImIQQxRi4b2O+JcCLg8+e8NZiLVEygwCrWpYF0jQJziYU/ho2TUuCPTn8hHcQNuZy1/94sAMOzQHDeqaij7Cd8Dt8CatGhX3iWxgtFW/m29pnUjR7TSQcRCIAVW1FSr6KAVYdi+5Pj8yunviYHq7f72po3Y9dbi7CxzDO1+duzCXH9cEPAQYAhJELY/AqBtwAAAAASUVORK5CYII=);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 25px;
}

/*html 5 filed validation - end */

/* Flaired edges */
/*<hr/> tag style - start */
hr{
    height: 30px;
    border-style: solid;
    border-color: black;
    border-width: 1px 0 0 0;
    border-radius: 20px;
}
hr:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: black;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}
/*<hr/> tag style - end */
/** logo animation**/
#logo {

    margin: 50px;

    -webkit-animation:spin 2s linear infinite;
    -moz-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

@-moz-keyframes spin {
    50%{
        -webkit-transform:scaleX(0.1);
    }
}

@-webkit-keyframes spin {
     50%{
         -webkit-transform:scaleX(0.1);
     }
 }


@keyframes spin {
    50%{
        -webkit-transform:scaleX(0.1);
        transform:scaleX(0.1);
    }
}

/** logo animation end**/


/** Carousal H2 animation**/

.animated {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {-webkit-transform: translateY(0);}
    50% {-webkit-transform: translateY(-5px);}
}

@keyframes bounce {
    0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
}

/** Cards style start**/
.wrimagecard{
    margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
    position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
    padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    height: 80px;
    padding: 20px 24px 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;}

/** Cards style end**/
