<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Student Management System</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<h1>I am Mainwindow</h1>
<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>
