<!DOCTYPE html>
<html lang="en">
<head>
    <title>welcome to the success student management system</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <style>
        .fixed-bg {
            background-image: url("bg6.jpg");
            min-height: 500px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>
</head>
<body class="fixed-bg">
<div class="container-fluid">
    <div class="row">
        <div class="col-2 bg-light rounded">
            <h2 align="center "class="display-4">LOGIN</h2><br>
            <!-- Nav tabs -->
            <ul class="nav flex-column" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active btn btn-outline-primary" data-toggle="tab" href="#home" >Home</a><br><p></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link list-batch-item list-batch-item-primary" data-toggle="tab" href="#menu1">Login as a Staff</a><p></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link list-batch-item list-batch-item-primary" data-toggle="tab" href="#menu2">Login as a Teacher</a><p></p>
                </li>
                <li class="nav-item">
                    <a class="nav-link list-batch-item list-batch-item-primary" data-toggle="tab" href="#menu3">Login as a Admin</a><p></p>
                </li>
            </ul>

        </div>

        <div class="col-8">

            <div class="container">
                <!-- Tab panes -->
                <div class="tab-content">
                    <div id="home" class="container tab-pane active"><br>
                        <h1 align="center" class="display-1" style="color:ivory;font-family: Georgia, sans-serif;">Welcome</h1>
                        <h1 align="left" class="display-3" style="color:yellow;font-family: '-apple-system',serif;">Student Management System</h1>
                        <h1 align="left" class="display-4" style="color:yellow;font-family: 'Gabriola',serif;">Success Educational Institute</h1>
                    </div>
                    <div id="menu1" class="container tab-pane fade"><br>

                        <!-- The Modal -->

                            <div class="modal-dialog modal-md">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Staff Login</h4>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>
<form method="post">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row form-batch">
                                            <div class="col-4 ">
                                                <b><label for="empId">Employee ID</label></b>

                                            </div>
                                            <div class="col-8">
                                                <input type="empId" class="form-control" placeholder="Enter the Employee ID" id="">

                                            </div>
                                        </div>
                                        <div class="row form-batch">
                                            <div class="col-4 ">
                                                <b><label for="password">Password</label></b>

                                            </div>
                                            <div class="col-8">
                                                <input type="password" class="form-control" placeholder="Enter the password" id="">

                                            </div>
                                        </div>
                                    </div>


                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Sign In</button>
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Reset</button>
                                    </div>
</form>
                                </div>
                            </div>

                    </div>
                    <div id="menu2" class="container tab-pane fade"><br>
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Teacher Login</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <form method="post">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row form-batch">
                                            <div class="col-4 ">
                                                <b><label for="regNo">Registration ID</label></b>

                                            </div>
                                            <div class="col-8">
                                                <input type="regNo" class="form-control" placeholder="Enter the Registration ID" id="">

                                            </div>
                                        </div>
                                        <div class="row form-batch">
                                            <div class="col-4 ">
                                                <b><label for="password">Password</label></b>

                                            </div>
                                            <div class="col-8">
                                                <input type="password" class="form-control" placeholder="Enter the password" id="">

                                            </div>
                                        </div>
                                    </div>


                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Sign In</button>
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="menu3" class="container tab-pane fade"><br>
                        <div class="modal-dialog modal-md">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Admin Login</h4>
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <form method="post">
                                    <!-- Modal body -->
                                    <div class="modal-body">
                                        <div class="row form-batch">
                                            <div class="col-4 ">
                                                <b><label for="userId">User ID</label></b>

                                            </div>
                                            <div class="col-8">
                                                <input type="userId" class="form-control" placeholder="Enter the User ID" id="">

                                            </div>
                                        </div>
                                        <div class="row form-batch">
                                            <div class="col-4 ">
                                                <b><label for="password">Password</label></b>

                                            </div>
                                            <div class="col-8">
                                                <input type="password" class="form-control" placeholder="Enter the password" id="">

                                            </div>
                                        </div>
                                    </div>


                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary" data-dismiss="modal">Login</button>
                                        <button type="reset" class="btn btn-danger" data-dismiss="modal">Reset</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>



</body>
</html>
