<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-secondary">
    <div class="col-4">
        <a href="/payment/new">
            <button class="btn btn-info">Make a Payment</button>
        </a>
    </div>
    <div class="col-4">
        <h1>Payment Management - Payment Details</h1>
    </div>
    <div class="col-4">
        <a href="/payment">
            <button class="btn btn-primary">view All Payment</button>
        </a>
    </div>
</div>
<!--Payment detail-->
<div class="container-fluid" data-th-fragment="paymentDetail">
    <!--payment id-->
    <div class="form-payment">
        <label data-th-for="${id}">Id</label>
        <p class="form-control" data-th-text="${paymentDetail.id}"></p>
    </div>
    <!--TranID-->
    <div class="form-payment">
        <label data-th-for="${tranId}"></label>
        <p class="form-control" data-th-text="${paymentDetail.tranId}"></p>
    </div>
    <!--discountStatus-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${discountStatus}">Discount Status :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${paymentDetail.discountStatus}"></p>
        </div>
    </div>
    <!--amount-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${amount}">amount :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${paymentDetail.amount}"></p>
        </div>
    </div>
    <!--time-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${createdTime}">time :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${paymentDetail.createdTime}"></p>
        </div>
    </div>
    <!--date-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${createdDate}">date :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${paymentDetail.createdDate}"></p>
        </div>
    </div>
    <!--createdBy-->
    <div class="form-row text-right">
        <div class="col-md-4">
            <label class="control-label" data-th-for="${createdBy}">createdBy :</label>
        </div>
        <div class="col-md-8">
            <p class="form-control" data-th-text="${paymentDetail.createdBy}"></p>
        </div>
    </div>

</div>
<!--Button-->
<div class="form-payment col-md-12 col-sm-12 text-center flex-column ">
    <a href="/payment">
        <button class="btn btn-success" tabindex="21" type="submit">
            Back
        </button>
    </a>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>