<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success Educational Institute</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-link">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1>Class Management</h1>
    </div>
    <div class="col-4">
        <a href="/batch/add">
            <button class="btn btn-primary" align="center">Add new Class</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="container mw-100">
        <table class="table table-striped table-inverse" id="myTable">
            <thead class="thead-inverse">
            <tr>
                <th>Index</th>
                <th>Class Reference</th>
                <th>Year</th>
                <th>Grade</th>
                <th>Class Name</th>
                <th>Teacher Name</th>
                <th>Subject Name</th>
                <th>Modify</th>
            </tr>
            </thead>
            <tbody>
            <tr data-th-each="batch, index : ${batchs }">
                <td data-th-text="${index.count}"></td>
                <td data-th-text="${batch.code}"></td>
                <td data-th-text="${batch.year}"></td>
                <td data-th-text="${batch.grade.grade}"></td>
                <td data-th-text="${batch.name}"></td>
                <td data-th-text="${batch.teacher.firstName}"></td>
                <td data-th-text="${batch.teacher.subject.name}"></td>
                <td>
                    <a data-th-href="${'/batch/view/'+ batch.id}">
                        <button type="button" class="btn btn-info">View</button>
                    </a>
                    <a data-th-href="${'/batch/edit/'+ batch.id}">
                        <button type="button" class="btn btn-success">Edit</button>
                    </a>
                    <a data-th-href="${'/batch/delete/'+ batch.id}">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a></br>
                    <a data-th-href="${'/batchExam/add/'+ batch.id}">
                        <button type="button" class="btn btn-warning">Add Exam</button>
                    </a>
                </td>
                <td>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
