<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Thymeleaf Springboot </title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-link">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1>Batch Details</h1>
    </div>
    <div class="col-4">
        <a href="/batch/new">
            <button class="btn btn-primary" align="center">New Batch</button>
        </a>
    </div>
</div>

<div class="row container-fluid">
    <div class="col-sm-3"></div>
    <div class="col-sm-8">
        <div class="form-group">
            <label data-th-for="${classReferance}" class="col-sm-3 control-label">Class reference</label>
            <div class="col-sm-6">
                <p type="text" id="classReferance" class="form-control" data-th-text="*{batchDetail.classReferance}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${year}" class="col-sm-3 control-label">Academic Year</label>
            <div class="col-sm-6">
                <p type="text" id="year" class="form-control" data-th-text="*{batchDetail.year}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${grade}" class="col-sm-3 control-label">Grade</label>
            <div class="col-sm-6">
                <p type="text" id="grade" class="form-control" data-th-text="*{batchDetail.grade}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${teacherName}" class="col-sm-3 control-label">Teacher</label>
            <div class="col-sm-6">
                <p type="text" id="teacherName" class="form-control" data-th-text="*{batchDetail.teacher.firstName}">
            </div>
        </div>
        <div class="form-group">
            <label data-th-for="${subjectName}" class="col-sm-3 control-label">Subject Name</label>
            <div class="col-sm-6">
                <p type="text" id="subjectName" class="form-control" data-th-text="*{batchDetail.subject.name}">
            </div>
        </div>

        <div class="row container-fluid">
            <div class="col-sm-2 col-sm-offset-2">
                <a href="/batch">
                <button type="link"  class="btn btn-danger btn-block" >Back</button>
                </a>
            </div>

        </div>
    </div>
    <div class="col-sm-1"></div>
</div>

</body>
</html>