<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Class Management</title>
</head>
<body>
<div class="container- p-3 my-2 bg-primary text-white">
    <h2>Class Management</h2>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-4 bg rounded container-fluid" style="height: 500px;background-color:#F0F8FF;">
            <h1 align="center" class="display-6" style="font-family: 'Segoe UI Light'; font-size:33px">Add New Class </h1>
            <p></p>

            <form method="post">


                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="sessionRef">Class Reference</label></b>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Enter Reference" id="">
                    </div>
                </div>
                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="Name">Year & Grade</label></b>
                    </div>
                    <div class="col">
                        <select class="form-control" id="year">
                            <option selected="">Year</option>
                            <option value="2020">2020</option>
                            <option value="2021">2021</option>
                            <option value="2022">2022</option>
                            <option value="2023">2023</option>
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-control" id="grade">
                            <option selected="">Grade</option>
                            <option value="Grade 5">Grade 5</option>
                            <option value="Grade 6">Grade 6</option>
                            <option value="Grade 7">Grade 7</option>
                            <option value="Grade 8">Grade 8</option>
                            <option value="Grade 9">Grade 9</option>
                            <option value="Grade 10">Grade 10</option>
                            <option value="Grade 11">Grade 11</option>
                        </select>
                    </div>
                </div>




                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="subjectName">Subject Name</label></b>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Enter Subject Name" id="">
                    </div>
                </div>
                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="teacherName">Teacher Name</label></b>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Enter Teacher Name" id="">
                    </div>
                </div>
<!--                <div class="row form-batch">
                    <div class="col-4 ">
                        <b><label for="hallNo">Hall Number</label></b>
                    </div>
                    <div class="col-8">
                        <input type="text" class="form-control" placeholder="Enter Hall Number" id="">
                    </div>
                </div>-->
                <div class="row form-batch">
                    <div class="col-4 ">

                    </div>
                    <div class="col-8">
                        <input type="submit" class="btn btn-primary" value="Submit">

                        <input type="reset" class="btn btn-danger" value="Clear All">
                    </div>
                </div>
            </form>
        </div>
        <div class="col-7">
            <h1 class="display-4" align="center">View All Classes</h1>
            <p></p>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">Class Reference</th>
                    <th scope="col">Year</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Subject</th>
                    <th scope="col">Teacher</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">001</th>
                    <td>2017</td>
                    <td>Grade 8</td>
                    <td>Mathematics</td>
                    <td>Mr.Ruwan Samarathunga</td>
                    <td>
                        <input type="submit" class="btn btn-success btn-sm" value="Modify">
                        <input type="submit" class="btn btn-warning btn-sm" value="Delete">
                    </td>
                </tr>
                <tr>
                    <th scope="row">002</th>
                    <td>2021</td>
                    <td>Grade 10</td>
                    <td>Commerce</td>
                    <td>Mr.Yohan Kalugampitiya</td>
                    <td>
                        <input type="submit" class="btn btn-success btn-sm" value="Modify">
                        <input type="submit" class="btn btn-warning btn-sm" value="Delete">
                    </td>
                </tr>
                <tr>
                    <th scope="row">003</th>
                    <td>2017</td>
                    <td>Grade 11</td>
                    <td>ICT</td>
                    <td>Mr.Pradeep Nandana</td>
                    <td>
                        <input type="submit" class="btn btn-success btn-sm" value="Modify">
                        <input type="submit" class="btn btn-warning btn-sm" value="Delete">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>