<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Success TimeTable Management</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-secondary">
    <div class="col-4">
    </div>
    <div class="col-4">
        <h1>TimeTable Management - Add New TimeTable</h1>
    </div>
    <div class="col-4">
        <a href="/timeTable">
            <button class="btn btn-primary">View All On Time Table</button>
        </a>
    </div>
</div>
<div class="container-fluid">
    <form action="/timeTable/save" data-th-object="${timeTable}" method="post">
        <!--timeTable id-->
        <div class="form-row text-right" data-th-if="${addStatus==false}">
            <div class="col-md-4">
                <label data-th-for="${id}">Id</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{id}" readonly type="text">
            </div>
        </div>
        <!--Slot ID-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${slotId}">Slot ID :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{slotId}" required tabindex="4" type="text"/>
                <span data-th-errors="*{slotId}"
                      data-th-if="${#fields.hasErrors('slotId')}">Error Name</span>
            </div>
        </div>
        <!--Date-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${date}">Date :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{date}" required tabindex="4" type="text"/>
                <span data-th-errors="*{date}"
                      data-th-if="${#fields.hasErrors('date')}">Error Name</span>
            </div>
        </div>
        <!--Time-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${time}">Time :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{time}" required tabindex="4" type="text"/>
                <span data-th-errors="*{time}"
                      data-th-if="${#fields.hasErrors('time')}">Error Name</span>
            </div>
        </div>

        <!--Teacher-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${teacher}">Teacher :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{teacher}" required tabindex="4" type="text"/>
                <span data-th-errors="*{teacher}"
                      data-th-if="${#fields.hasErrors('teacher')}">Error Name</span>
            </div>
        </div>

        <!--Hall Number-->
        <div class="form-row text-right">
            <div class="col-md-4">
                <label class="control-label" data-th-for="${hallNumber}">hallNumber :</label>
            </div>
            <div class="col-md-8">
                <input class="form-control" data-th-field="*{hallNumber}" required tabindex="4" type="text"/>
                <span data-th-errors="*{hallNumber}"
                      data-th-if="${#fields.hasErrors('hallNumber')}">Error Name</span>
            </div>
        </div>
        <!--Button-->
        <div class="form-batch col-md-12 col-sm-12 text-center flex-column ">
            <button class="btn btn-success" tabindex="21" type="submit">
                <i class="fa fa-save " style="font-size: 20px"></i>&nbsp; &nbsp;<span
                    data-th-text="${addStatus==true?'Save': 'Update'}"
                    id="submit"></span>
            </button>
        </div>
    </form>
</div>

<!--footer is included-->
<footer data-th-replace="~{fragments/footer :: footerFragment}"></footer>
<!--script is included-->
<script data-th-replace="~{fragments/script :: scriptFragment}"></script>
</body>
</html>