<!DOCTYPE html>
<html lang="en" >
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}" >
  <meta charset="UTF-8" >
  <title >Student Management</title >
</head >
<body >
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}" ></nav >

<div class="row bg-secondary" >
  <div class="col-4" >
    <a href="/timeTable/add" >
      <button class="btn btn-info" >New Time Slot Add</button >
    </a >
  </div >
  <div class="col-4" >
    <h1 >Choose Date To Time Table</h1 >
  </div >
  <div class="col-4" >
    <a href="/timeTable" >
      <button class="btn btn-primary" >View All Student</button >
    </a >
  </div >
</div >
<!--Student detail-->
<div class="container-fluid" data-th-fragment="timeTableDetail" >
  <form action="/timeTable/add" method="post" >
    <!--Date-->
    <div class="form-row text-right" >
      <div class="col-md-4" >
        <label class="control-label" for="date" >Date:</label >
      </div >
      <div class="col-md-8" >
        <input type="date" name="date" id="date" class="form-control" required >
      </div >
    </div >
    <!--Button-->
    <div class="form-batch col-md-12 col-sm-12 text-center flex-column " >
      <button class="btn btn-success" tabindex="21" type="submit" >
        Send
      </button >
    </div >
  </form >
</div >
<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}" ></div >
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}" ></div >
<script >
    $(document).ready(function () {
        let date = new Date();
        $('[type="date"]').prop('min', function () {
            console.log(date)
            return date.toJSON().split('T')[0];
        }).prop('max', function () {
            let futureDate = date.setDate(date.getDate() + 30);
            console.log(futureDate);
            return futureDate;
        })
    });
</script >
</body >
</html >
