<!DOCTYPE html>
<html lang="en">
<!--Styles, meta data, and title are included-->
<head data-th-replace="~{fragments/header :: headerFragment}">
    <meta charset="UTF-8">
    <title>Student Management System</title>
</head>
<body>
<!--Nav bar is included-->
<nav data-th-replace="~{fragments/navBar :: navBarFragment}"></nav>

<div class="row bg-link">
    <div class="col-4">

    </div>
    <div class="col-4">
        <h1>School Management</h1>
    </div>
    <div class="col-4">
        <a href="/school/new">
            <button class="btn btn-primary" align="center">New School</button>
        </a>
    </div>
</div>

<div class="row">
    <div class="container table-responsive">
        <table class="table table-striped table-inverse " id="myTable">
            <thead class="thead-inverse">
            <tr>
                <th>Index</th>
                <th>School name</th>

                <th>Modify</th>

            </tr>
            </thead>
            <tbody>
            <tr data-th-each="school, index : ${schools }">
                <td data-th-text="${index.count}"></td>
                <td data-th-text="${school.name}"></td>


                <td>
                     <a data-th-href="${'/school/edit/'+ school.id}">
                        <button class="btn btn-success">Edit</button>
                    </a>
                    <a data-th-href="${'/school/delete/'+ school.id}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!--footer is included-->
<div data-th-replace="~{fragments/footer :: footerFragment}"></div>
<!--script is included-->
<div data-th-replace="~{fragments/script :: scriptFragment}"></div>
</body>
</html>
